<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/clans.css" />
    <title>Clash Royale - Clan</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <h1>WELCOME</h1>

    <h2></h2>
    <div class="player-information">
      <p><%= clan.name%></p>
      <p><%= clan.description%></p>
      <p><%= clan.warTrophies%></p>
      <p><%= clan.clanName%></p>
      <p><%= clan.isCountry%></p>
      <p><%= clan.reqTrophies%></p>
      <p><%= clan.members%></p>

      <p><%= players.one.name%></p>
      <p><%= players.one.role%></p>
      <p><%= players.one.trophies%></p>
      <p><%= players.one.arena%></p>

      <p><%= players.two.name%></p>
      <p><%= players.two.role%></p>
      <p><%= players.two.trophies%></p>
      <p><%= players.two.arena%></p>

      <p><%= players.three.name%></p>
      <p><%= players.three.role%></p>
      <p><%= players.three.trophies%></p>
      <p><%= players.three.arena%></p>

    </div>
  </body>
</html>
